<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>JAWJS</display-name>
	<filter>
		<description>
		This wraps the ServletRequest object in a WENETRequest object.</description>
		<display-name>wrapasWENETRequest</display-name>
		<filter-name>wrapasWENETRequest</filter-name>
		<filter-class>us.wenet.jawjs.adams.FilterWrapAsWENETrequest</filter-class>
	</filter>
	<filter>
		<description>
		This filter parses the client provided certificate, verifing chain against trusttore and extracting authentication information.</description>
		<display-name>FilterSSLSecurity</display-name>
		<filter-name>FilterSSLSecurity</filter-name>
		<filter-class>us.wenet.jawjs.adams.FilterSSLSecurity</filter-class>
		<init-param>
			<description>
			This is the location of the client truststore file as a java keystore.</description>
			<param-name>clientTruststore</param-name>
			<param-value>TODO</param-value>
		</init-param>
		<init-param>
			<description>
			Password for the client truststore java keystore.</description>
			<param-name>clientTruststorePassword</param-name>
			<param-value>PASSWORD</param-value>
		</init-param>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>FilterSSLAuthenticationBase</display-name>
		<filter-name>FilterSSLAuthenticationBase</filter-name>
		<filter-class>us.wenet.jawjs.adams.FilterSSLAuthenticationBase</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>FilterSSLAuthenticatorBase</display-name>
		<filter-name>FilterSSLAuthenticatorBase</filter-name>
		<filter-class>us.wenet.jawjs.adams.FilterSSLAuthenticatorBase</filter-class>
		<init-param>
			<description>
			Password for trust store.</description>
			<param-name>clientTruststorePassword</param-name>
			<param-value>to set</param-value>
		</init-param>
		<init-param>
			<description>
			Location of truststore jks.</description>
			<param-name>clientTruststore</param-name>
			<param-value>truststore.jks</param-value>
		</init-param>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>FilterSSLAuthenticatorUserSimple</display-name>
		<filter-name>FilterSSLAuthenticatorUserSimple</filter-name>
		<filter-class>us.wenet.jawjs.adams.file.FilterSSLAuthenticatorUserSimple</filter-class>
		<init-param>
			<description>
			Semicolon seperated list of valid users.</description>
			<param-name>validUsers</param-name>
			<param-value>josh@nylanderfamily.org;jnylander@cob.org</param-value>
		</init-param>
		<init-param>
			<description>
			Semicolon seperated list of roles to add to each user.</description>
			<param-name>userRoles</param-name>
			<param-value>role1;role2</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wrapasWENETRequest</filter-name>
		<url-pattern>/do/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FilterSSLSecurity</filter-name>
		<url-pattern>/do/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FilterSSLAuthenticationBase</filter-name>
		<url-pattern>/FilterSSLAuthenticationBase</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FilterSSLAuthenticatorBase</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FilterSSLAuthenticatorUserSimple</filter-name>
		<url-pattern>/user</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
